In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#read the file
    
data = pd.read_table('6119-hybridOut-June17-27.txt', skiprows=1)

#drop columns with NaN

data = data.dropna(axis='columns', how ='all')

#fix the headers

data = data.rename({'Event': 'Event', 'MinFracDay': 'NmHitDAQ1', \

                   'JulDay':'MinFracDay','Unnamed: 6':'JulDay', \

                   'Unnamed: 8':'SSDB', 'Unnamed: 10':'Hit1.ch1', \

                   'Unnamed: 13':'Hit1.ch2','Unnamed: 16':'Hit1.ch3', \

                   'Unnamed: 19':'Hit1.ch4','Unnamed: 22':'Hit2.ch1', \

                   'Unnamed: 25':'Hit2.ch2','Unnamed: 28':'Hit2.ch3', \

                   'Unnamed: 31':'Hit2.ch4'

                   },

                  axis=1)
cols = data.columns

cols = cols.map(lambda x: x.replace('#', '_') if isinstance(x, (str or unicode)) else x)

data.columns = cols

data.head(3)

,Event,NmHitDAQ1,MinFracDay,JulDay,SSDB,eventDateTime,Hit1.ch1,PW1,Hit1.ch2,PW2,...,Hit1.ch4,PW4,Hit2.ch1,PW1.1,Hit2.ch2,PW2.1,Hit2.ch3,PW3.1,Hit2.ch4,PW4.1
0,1,4,0.500012,2459747,43201.03,6/17/2022 0:0:1,0.00,17.50,2.50,25.00,...,3.0,25.01,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,2,4,0.500012,2459747,43201.07,6/17/2022 0:0:1,0.75,22.49,0.75,23.75,...,0.0,23.75,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,3,2,0.500013,2459747,43201.16,6/17/2022 0:0:1,-1.00,-1.00,-1.00,-1.00,...,0.0,32.50,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0